[submodule "web-server"]
	path = web-server
	url = git@github.com:fabiopozzi/web-server.git
[submodule "task-manager"]
	path = task-manager
	url = git@github.com:fabiopozzi/nodejs-task-manager.git
[submodule "chat-app"]
	path = chat-app
	url = https://github.com/fabiopozzi/node-chat-app
